<nav class="navbar navbar-light bg-faded" style="background-color: #dbe5eb;">
  <div class="nav navbar-nav">
    <a class="navbar-brand" href="#">Expense manager v0.2</a>
    <div class="nav-item">
      <a class="nav-item nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="">Profile</a>
      <a class="nav-item nav-link" routerLink="">Settings</a>
      <a class="nav-item nav-link" routerLink="">About</a>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-2 col-xl-2 sidebar h-100">
      <nav class="nav nav-pills nav-stacked">
        <a class="nav-link" routerLinkActive="active" routerLink="/main/login">Login</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/main/accounts">Accounts</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/main/categories">Categories</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/main/transactions">Transactions</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/main/reports">Reports</a>
      </nav>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-10 col-xl-10 main">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
