<div>
    <div *ngIf="!editing">
        <button (click)="startEdit()">Edit</button>
        <button (click)="delete(tnx)">Delete</button>
        <span>{{tnx.accountId}}</span><span>&nbsp;</span>
        <span>{{accountName | async}}</span><span>&nbsp;</span>
        <span>{{tnx.description}}</span><span>&nbsp;</span>
        <span>{{tnx.amount}}</span>
    </div>
    <div *ngIf="editing">
        <button (click)="stopEdit()">Cancel</button>
        <button (click)="delete(newTnx)">Delete</button>
        <span>{{newTnx.accountId}}</span><span>&nbsp;</span>
        <select [(ngModel)]="newTnx.accountId">
            <option *ngFor="#a of (accounts | async)" [value]="a._id">{{a.name}}</option>
        </select>
        <input [(ngModel)]="newTnx.description" placeholder="description"/>
        <input [(ngModel)]="newTnx.amount" placeholder="amount"/>
        <button (click)="update(newTnx)">Save</button>
    </div>
</div>
