<h3>Transaction</h3>
<new-transaction></new-transaction>
<button (click)="refresh()">Refresh</button>
<pagination
        [maxSize]="5"
        [itemsPerPage]="limit"
        [totalItems]="500"
        [boundaryLinks]="true"
        [(ngModel)]="page"
        (pageChanged)="setPage($event)"></pagination>
<table class="table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Account</th>
        <th>AccountId</th>
        <th>Amount</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tr transaction *ngFor="#tnx of transactions | async" [tnx]="tnx"></tr>
</table>
