<h3>Transaction</h3>
<new-transaction></new-transaction>
<button (click)="refresh()">Refresh</button>
<span *ngFor="#p of pages | async">
    <span *ngIf="p==(page |async)">{{p}}</span>
    <span *ngIf="p!=(page |async)">
     <button (click)="setPage(p)">{{p}}</button>
    </span>
</span>
<table class="table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Account</th>
        <th>AccountId</th>
        <th>Amount</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tr transaction *ngFor="#tnx of transactions | async" [tnx]="tnx"></tr>
</table>
