<div class="form-inline">
    <div class="form-group">
        <select class="form-control" [ngModel]="account" (ngModelChange)="onAccountChange($event)">
            <option value="">--All--</option>
            <option *ngFor="let a of (accounts | async)" [value]="a._id">{{a.name}}</option>
        </select>
        <input class="form-control" [ngModel]="description" (ngModelChange)="onDesriptionChange($event)"
               placeholder="description"/>
        <select class="form-control" [ngModel]="category" (ngModelChange)="onCategoryChange($event)">
            <option value="">--Uncategorized--</option>
            <option *ngFor="let c of (categories | async)" [value]="c._id">{{c.name}}
            </option>
        </select>
        <input type="checkbox" [(ngModel)]="categoryFilterOn">
    </div>
</div>
