<template [ngIf]="!editing">
    <td>
        <transaction-control (addCategory)="addCat($event)" (remCategory)="remCat($event)"></transaction-control>
        <input type="checkbox" [(ngModel)]="selected">
    </td>
    <td class="text-nowrap" style="padding-left: 10px;padding-right: 10px">{{tnx.date | date: 'yyyy'}}-{{tnx.date |
        date:'MM'}}-{{tnx.date | date: 'dd'}}
    </td>
    <td class="description-cell">
        <div class="description-div">
            <span class="description">{{tnx.description}}</span>
            <span class="description-extra">{{tnx.extra}}</span>
        </div>
    </td>
    <td>
        <div *ngFor="let c of (categories|async)" class="badge">{{c.name}}</div>
    </td>
    <td class="text-nowrap">{{accountName | async}}</td>
    <td class="text-nowrap">{{tnx.amount}}</td>
    <td class="text-nowrap">
        <button class="btn btn-xs btn-default" (click)="startEdit()">Edit</button>
    </td>
</template>
<template [ngIf]="editing">
    <td></td>
    <td><input class="form-control" [(ngModel)]="newTnx.date" placeholder="date"/></td>
    <td><input class="form-control" [(ngModel)]="newTnx.description" placeholder="description"/></td>
    <td></td>
    <td class="col-sm-2">
        <select class="form-control" [(ngModel)]="newTnx.accountId">
            <option *ngFor="let a of (accounts | async)" [value]="a._id">{{a.name}}</option>
        </select>
    </td>
    <td><input class="form-control" [(ngModel)]="newTnx.amount" placeholder="amount"/></td>
    <td class="text-nowrap">
        <button class="btn btn-danger" (click)="delete(newTnx)">Delete</button>
        <button class="btn btn-primary" (click)="update(newTnx)">Save</button>
        <button class="btn btn-default" (click)="stopEdit()">Cancel</button>
    </td>
</template>
