<account-relay #relay (accounts)="accounts=$event"></account-relay>
<action-relay #action></action-relay>
<user-model #userModel></user-model>

<div class="card">
  <div class="card-header">
    Accounts
    <button class="btn btn-default btn-sm" type="button"
            (click)="relay.refresh()"><span class="octicon octicon-sync"></span>
    </button>
  </div>
  <div class="card-block">
    <table class="table table-sm table-hover table-responsive">
      <thead>
      <tr>
        <th class="text-nowrap">Id</th>
        <th class="text-nowrap" style="width: 100%">Name</th>
        <th class="text-nowrap">Initial balance</th>
        <th class="text-nowrap">Currency</th>
        <th class="text-nowrap">Decimal places</th>
        <th class="text-nowrap">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let a of accounts">
        <td class="text-nowrap">{{a.id()}}</td>
        <td class="text-nowrap">{{a.name}}</td>
        <td class="text-nowrap">{{a.initialBalance}}</td>
        <td class="text-nowrap">{{a.currency}}</td>
        <td class="text-nowrap">{{a.precision}}</td>
        <td class="text-nowrap">
          <div [hidden]="true" #isOwner="var" [var]="(userModel.user|async)?.id == a.owner"></div>
          <button class="btn btn-sm {{isOwner.var?'btn-primary':'btn-secondary disabled'}}" type="button"
                  (click)="isOwner.var && action.relay.account.edit(a)"><span class="octicon octicon-pencil"></span>
          </button>
          <button class="btn btn-sm {{isOwner.var?'btn-danger':'btn-secondary disabled'}}" type="button"
                  (click)="isOwner.var && relay.removeId(a.id())"><span class="octicon octicon-x"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
