<div class="card card-block">
  <form class="form-inline">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control form-control-sm" id="name" name="name"
             [(ngModel)]="cat.shortName" (keyup.enter)="saveUpdate(cat)">
    </div>
    <div class="form-group">
      <label for="parentId">Parent</label>
      <input type="text" class="form-control form-control-sm" id="parentId" name="parentId"
             [(ngModel)]="cat.parentId" (keyup.enter)="saveUpdate(cat)">
    </div>
    <div class="form-group">
      <label>&nbsp;</label>
      <button class="btn btn-primary btn-sm" type="button"
              (click)="saveUpdate(cat)">{{cat._id==null?"Save":"Update"}}
      </button>
      <button class="btn btn-danger btn-sm" type="button"
              (click)="reset()">Reset
      </button>
    </div>
  </form>
</div>
